body {
  background-color: #333353;
  text-align: center;
}

h1 {
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  column-gap: 0px;
  row-gap: 0px;
}

img {
  max-width: 100%;
  padding: 10px;
  background-color: white;
  color: blue;
  border-radius: 5px;
}

figcaption {
  display: none;
  position: absolute;
  width: 250px;
  background-color: rgba(0, 0, 0, .5);
  color: white;
  border-radius: 5px;
}
